.DS_Store
.env
.env.local
.env.*.local
.playwright
.vercel
.next
dist
coverage
node_modules
.turbo
.pnpm-store
tmp
*.log
*.tsbuildinfo
prisma/dev.db
playwright-report
storage
test-results
packages/db/generated
